.specials__contact {
  margin-top: to-rem(48px);
  display: grid;
  grid-gap: to-rem(16px);
  grid-template-columns: repeat(2, 1fr);
  text-align: center;

  i {
    color: $primary;
    margin-bottom: to-rem(8px);
  }

  h3 {
    font-size: $font-normal;
    margin-bottom: to-rem(12px);
  }

  li {
    margin-bottom: to-rem(6px);
    font-size: $font-small;
  }
}

// contact
.contact__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;

  i, h3, p {
    margin-bottom: to-rem(8px);
  }
}

.section__contact {
  padding: to-rem(84px) 0;

  h1 {
    font-size: to-rem(68px);
  }
}