.header__inner {
  background: url("../images/home.jpg");
  height: to-rem(88px);
  border-bottom: to-rem(3px) solid $primary;
}

.container {
  display: flex;
  padding: 0 to-rem(24px);
  flex-direction: column;
}

.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 to-rem(24px);
  height: to-rem(70px);
}

.nav__logo {
  background: url("../images/logo.png") no-repeat center center/contain;
  width: to-rem(70px);
  height: to-rem(70px);
}

.nav__list {
  display: flex;
}

.nav__text {
  color: $light;
  margin-right: to-rem(48px);
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: to-rem(8px);
  transition: all 1s;

  &:hover {
    border-color: $primary-medium;
  }

  &.current {
    border-color: $primary;
  }
}