@import "share";

.about-title {
  text-align: center;
  margin-top: to-rem(16px);
}

.about-img {
  width: 100%;
  text-align: center;
  margin-top: to-rem(24px);

  img {
    @include breakpoint($pad, true) {
      width: 30%;
      height: 30%;
    }

    width: 100%;
    height: 100%;
  }
}

.about-content {
  @include breakpoint($pad, true) {
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: to-rem(1200px);
  margin: 0 auto;
  margin-top: to-rem(32px);
}

.about-list {
  @include breakpoint($pad, true) {
    width: 48%;
    text-align: center;
  }

  width: 100%;
  margin-bottom: to-rem(32px);
  text-align: center;

  i {
    margin-bottom: to-rem(16px);
    font-size: $font-huge;
    color: $primary;
  }

  h4 {
    @include breakpoint($mobile, true) {
      font-size: $font-big;
    }

    font-size: $font-mini;
    text-align: left;
  }
}