<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Dosis")
    link(rel="stylesheet", href="./scss/style.scss")
    title Chihting Lo | Project Manager
  body
    //- Header
    header.header__inner
      .container
        nav.main__nav
          .nav__logo
          ul.nav__list
            li
              a.nav__text(href="index.pug") Home
            li
              a.nav__text.current(href="about.pug") About
            li
              a.nav__text(href="contact.pug") Contact

    //- section：About
    section
      .section__container
        h2.section__title ABOUT ME
        .bottom__line
        p.lead Let me tell you a little about myself and what I do...

        //- About info
        main.about__info
          img.about__image(src="./images/showcase.jpg")
          .about__txt
            h4 8-month ESL class in US, embraced challenges and foreign language
            p After graduating from university, I applied ESL courses in America for 8 months to improve my English. Living in an all-English and new environment not only improved my speaking skill, but also became independent. Additionally, I traveled to places and experienced different cultures, met various people and explored new things.
            h4 Not just engineering, but communication and coordination
            p In 2012, I started working at Quanta Computer as a Mechanical Engineer. I used to be the main coordinator since I'm not afraid to speak in English. Being able to work and conduct ideas with colleagues delighted me. Through consistent communication, my tasks were not done efficiently but also let me to gain new knowledge and to expand my personal networks.
            h4 Initiate to assist customer and work efficiently
            p In 2016, I worked as an Overseas Sales in the Industrial Motor & Application Division at TECO. At that time our customer told us one of the product series could not be sold because of the new energy policy. After investigated it, I discovered that there were at least 40 types be affected. To cut our losses, I initiated weekly meeting to discuss with customers and factories of the issues with design, lead time... etc. In the end, we not only shortened the signing process from 1-year to only half-a-year but also profited 30% higher average sales number than last year.
            h4 Core Decision-Making member with systematic management
            p In 2019, I recommended myself to participate the cooperation transformation project team. Discovered systematic management from McKinsey team in order to track progress effectively and solved issues promptly. For example, established an inventory system to review and forecast the inventory and adjusted the sell plan to reduce 490Mn inventory. Investigated the key point of lead time aggressively, updated the latest situation and participated actively if there is any issue. Thank you for your time to have a look on my cover letter, looking forward to meet you in person so we can have further discussion.
          .about__award.about__award--1
            i.fas.fa-award
            h3 TOEIC
          .about__award.about__award--2
            i.fas.fa-award
            h3 PMP 42PDU
          .about__award.about__award--3
            i.fas.fa-award
            h3 Pro/E Wildfire T1

    //- section：TECHNICAL SKILLS
    section.bg__dark
      .section__container
        h2.section__title TECHNICAL SKILLS
        .bottom__line
        .skill__wrap
          h4 Excel
          .progress
            div(style="width:100%")
          h4 Word
          .progress
            div(style="width:100%")
          h4 PowerPoint
          .progress
            div(style="width:100%")
          h4 AutoCAD
          .progress
            div(style="width:80%")
          h4 ProE 5.0
          .progress
            div(style="width:80%")
          h4 Cero 2.0
          .progress
            div(style="width:70%")

    //- Footer
    footer.main__footer
      .footer__content
        p 2020 &copy; By Pitt Wu

    script(src="./modules/about.js")