<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Dosis")
    link(rel="stylesheet", href="./scss/style.scss")
    title Chihting Lo
  body
    //- Header
    header.header__inner
      .container
        nav.main__nav
          .nav__logo
          ul.nav__list
            li
              a.nav__text(href="index.pug") Home
            li
              a.nav__text(href="about.pug") About
            li
              a.nav__text.current(href="contact.pug") Contact

    section
      .section__container
        h2.section__title MY WORK
        .bottom__line
        p.lead Experience
        .specials__contact
          div
            i.fas.fa-file-alt.fa-2x
            h3 Oversea Sales TECO Electric & Machinery Co.
            ul
              li Sales Associate of Europe and Shanghai area
              li 2020 Sales Plan follow-up
          div
            i.fas.fa-desktop.fa-2x
            h3 Project Manager TECO Electric & Machinery Co.
            ul
              li Revenue growing, inventory reducing, cash flow increasing, manpower & cost saving.
              li Worked with McKinsey RTS team to set up PMO and management rules and system of transformation project.
              li Followed up the schedule of new product releasing, equipment importing, testing and the progress of developing distributor, contract signing, pricing negotiation.
              li Implemented new AR/AP period, new inventory management tools.
          div
            i.fas.fa-object-ungroup.fa-2x
            h3 Oversea Sales TECO Electric & Machinery Co.
            ul
              li Revised 40 product Specifications to meet the market demand and handled the schedule to release in 6 months.
              li Total sales in 2017 is 30% higher than 2016, reach 3Bn.
              li Established a bidding system to reduce work hours.
              li Participated in sales strategy group.
          div
            i.fas.fa-thumbs-up.fa-2x
            h3 Mechanical Engineer Quanta Computer Inc.
            ul
              li Amazon – Kindle, Perka – Beacon, Intel – Server Chassis
              li 3D model & 2D drawings in Pro/E.
              li Reviewed design, process, materials, mold, package with customers and vender.
              li Organized BOM & part numbers & Material.
    section
      .section__container
        h2.section__title CONTACT ME
        .bottom__line
        p.lead Here is how you can reach me

    section.bg__dark
      .section__container
        .contact__info
          div
            i.fas.fa-envelope.fa-2x
            h3 Email
            p tmrimdeo@hotmail.com
          div
            i.fas.fa-phone.fa-2x
            h3 Phone
            p 0952-629-669

    section.bg__primary
      .section__container.section__contact
        h1 Let's Start Your Next Project

    //- Footer
    footer.main__footer
      .footer__content
        p 2020 &copy; By Pitt Wu

    script(src="./modules/contact.js")