.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: to-rem(32px) to-rem(24px);
  overflow: hidden;
}

.bottom__line {
  display: flex;
  height: to-rem(2px);
  width: to-rem(96px);
  background: $primary;
  margin-top: to-rem(24px);
  transition: all 1s;
}

// btn
.btn__main,
.btn__light,
.btn__dark {
  display: inline-block;
  padding: to-rem(16px) to-rem(32px);
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: to-rem(4px);
  transition: all .5s;
}

.btn__light {
  color: $primary-dark;
  background-color: $primary-light;
}

button[class^='btn__']:hover,
a[class^='btn__']:hover {
  background-color: $primary;
}

// background
.bg__dark {
  background: $primary-dark;
  color: $light;
}

.bg__primary {
  background: $primary;
  color: $light;
}