.about__info {
  display: grid;
  grid-template-areas:
  'img txt txt'
  'aw1 aw2 aw3';
  grid-gap: to-rem(18px);
  width: 100%;
  margin-top: to-rem(24px);
}

// grid area
.about__image {
  grid-area: img;
}

.about__txt {
  grid-area: txt;
  border-left: 3px solid $primary;
  padding: to-rem(14px);

  h4 {
    margin: to-rem(16px) 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  p {
    line-height: to-rem(20px);
  }
}

.about__award {
  text-align: center;

  h3 {
    font-size: $font-large;
  }

  .fas {
    margin: to-rem(16px);
    color: $primary;
    font-size: $font-mega;
  }
}

.about__award--1 {
  grid-area: aw1;
}

.about__award--2 {
  grid-area: aw2;
}

.about__award--3 {
  grid-area: aw3;
}

.skill__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 to-rem(64px);

  h4 {
    margin-bottom: to-rem(4px);
  }
}

.progress {
  overflow: hidden;
  height: to-rem(20px);
  background: $primary-medium;
  border-radius: to-rem(4px);
  margin-bottom: to-rem(14px);

  div {
    height: 100%;
    background: $primary;
  }
}