@import "share";
@import "./page/home";
@import "./page/header";
@import "./page/about";
@import "./page/contact";

html {
  font-size: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Dosis', -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei", "Microsoft JhengHei", "Heiti", "Microsoft YaHei Bold", sans-serif;
  font-weight: normal;
  line-height: 1;
}

* {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary-dark;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: 0;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

// section
.section__container {
  h2 {
    font-size: $font-huge;
  }
}

.lead {
  margin-top: to-rem(16px);
  font-size: $font-large;
}

.specials {
  margin-top: to-rem(48px);
  display: grid;
  grid-gap: to-rem(16px);
  grid-template-columns: repeat(3, 1fr);
  text-align: center;

  p {
    margin-top: to-rem(16px);
  }
}

// footer
.main__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-dark;
  color: $light;
  height: to-rem(70px);
  font-size: $font-big;
}
