@import url('https://fonts.googleapis.com/css?family=Lato:400, 700');
@import "share";
@import "./component/video";
@import "./component/header";

html {
  font-size: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Lato', sans-serif !important;
  font-weight: normal;
  line-height: 1;
  color: $font-color;
}

* {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary-dark;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: 0;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

/*============= COURSE SECTION =============*/

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}